boto3==1.10.14
botocore>=1.13.32
certifi==2023.7.22
chardet==3.0.4
docutils==0.15.2
idna==2.8
jmespath==0.9.4
python-dateutil==2.8.0
pyyaml>=5.4.1
six==1.13.0
urllib3==1.26.5
activewatch==1.0.2
alertlogic-sdk-python>=1.0.57
